@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;700;800;900&family=Rubik+Puddles&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --font-brand: 'Rubik Puddles', cursive;
  --font-headlines: 'Barlow', sans-serif;
  --font-paragraphs: 'Barlow', sans-serif;
  --font-buttons: 'Barlow', sans-serif;

  --font-size: 1rem;
  --font-size-s: 0.75rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;

  --border-radius: 0.5rem;
  --border-radius-s: 0.25rem;
  --border-radius-l: 0.75rem;
  --border-radius-xl: 1.25rem;
}

body {
  padding: .5rem;
  margin: 0;
  background-image: url('../public//images/k8-yQLlLCIoEWc-unsplash.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

button {
  width: fit-content;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1rem;
    border-radius: 1rem;
    margin: 0;
    width: 100%;
  }
}

nav {
  background-color: rgba(41, 120, 20, 0.95);
  border-radius: var(--border-radius-xl);
  padding: 1rem;
  margin: 0 0 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0 0 1rem 0;
    text-align: center;
  }

  button {
    font-size: 1rem;
  }

  div {
    display: flex;
    gap: 2rem;
  }

  &:not(.expanded) {
    padding: 0.5rem;
    margin: 0 0 1rem 0;

    h1 {
      font-size: 1.5rem;
      font-family: 'Rubik Puddles', cursive;
      color: white;
    }

    button {
      cursor: pointer;
      border-radius: var(--border-radius-xl);
      padding: 0.15rem 0.5rem;
      &.add {
        border: 1px solid orange;
      }
    }
  }
}

nav h1 {
  font-size: 2.5rem;
  font-family: var(--font-brand);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border-radius: 1.25rem;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
}

ul.mushroomsList {
  list-style: none;
}

.alert {
  display: block;
  padding: 1rem;
  background-color: none;

  &.error {
    background-color: red;
    color: wheat;
  }
  &.warning {
    background-color: orange;
    color: black;
  }
  &.success {
    background-color: lightblue;
    color: black;
  }
  &.none {
    display: none;
  }
}

.flex {
  display: flex;
}

@media (min-width: 800px) {
  .wrapper {
    align-items: flex-start;

    > div {
      width: 480px;
    }
  }

  nav {
    width: 480px;
  }
}
